/* MusicItem component styles */

@import '../../styles/shared.css';

.musicItem {
  height: 190px;
  margin-bottom: 10px;
  width: 120px;
}

.artworkImage {
  border: 1px solid #E7E7E7;
  border-radius: 8px;
}

.title {
  color: var(--black);
  font-size: 12px;
  font-weight: 300;
  margin-top: 5px;
  text-align: left;
}

.artistName {
  color: var(--greyed-out);
  font-size: 11px;
  font-weight: 300;
  margin-top: 5px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: normal;
  
}
