/* MusicBlock component styles */

@import '../../styles/shared.css';

.introText {
  color: var(--black);
  margin-bottom: 30px;
  text-align: center;
}

.itemWrapper {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
