
/**
 * Media Modal styles
 */
@import '../styles/shared.css';

.apple-music-content {

	.apple-music-error,
	.apple-music-empty {
		bottom: auto;
		display: none;
		margin: 0 0 10px 0;
		padding: 12px 16px;
	}
	
	.apple-music-empty {
		background: #ffd;
	}
	
	.apple-music-error {
		background: #fdd;
	}
	
	.apple-music-toolbar {
		background: #f5f5f5;
		padding: 0;
	}
	
	.apple-music-toolbar-container {
		padding: 10px 9px;
	}
	
	.apple-music-items {
		display: flex;
	  flex-wrap: wrap;
	  padding-top: 10px;
	}
}

.apple-music-item {
  align-self: baseline;
}

.apple-music-thumb img {
  max-width: 100%;
}

.apple-music-input-search {
	margin-left: 10px;
}

.apple-music-toolbar {

	label,
	select,
	input {
		float: left;
	}
	
	label {
		color: #555;
		margin: 7px;
	}
	
	.button {
		margin-left: 5px;
	}
	
	.spinner {
		float: left;
		margin: 6px 10px;
	}
}

label[for='app-icon'],
label[for='app-icon-black'],
label[for='app-icon-white'] {

	img {
    height: 42px;
    width: 42px;
  }
}

label[for='player'] {
	line-height: 1.9;
}

label[for='app-icon-white'],
label[for='text-lockup-standard-white'],
label[for='text-lockup-mono-white'] {

	img {
    @mixin checkered-background;
		padding: 3px;
  }
}

.apple-music-select-format {

  p {
    align-items: center;
    display: flex;
  }

  label {
    margin-left: 5px;
  }

	.dashicons-controls-play {
		border: 2px solid;
    border-radius: 50%;
		margin-right: 5px;

		&::before {
			margin-left: 1px;
		}
	}
}

.attachment-display-settings h3 {
 color: var(--red);
}

.apple-music-form-description {
	color: #989898;
	font-style: italic;
}
